/* .table, tr,th{
    border: 1px solid black;
  } */

thead,
tfoot {
  background-color: #fff;
  color: #fff;
}

tbody {
  background-color: #fff;
}

caption {
  padding: 10px;
  caption-side: bottom;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 10px;
}

td {
  text-align: left;
}
p {
  text-align: center;
  font-weight: bold;
}
.advocateBody {
  border: none;
}
