table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

/* table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0e4d92;
  color: white;
} */


.content-table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  /* min-width: 400px; */
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content-table thead tr{
  background-color: #00b0f0;
  color: white;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td{
  padding: 12px 15px;
}

.content-table tbody tr{
  border-bottom: 1px solid #dddddd;
}

/* .content-table tbody tr:nth-of-type(even){
  background-color: #f2f2f2;
} */

.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #00b0f0;
}
