.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 1.5rem 2rem;
  border-bottom: 2px solid #f9f9f9;
  position: fixed;
  z-index: 2;
}

.header-logo {
  /* height: 50px; */
  height: 35px;
  width: auto;
}
/* Swastika css */
.dropbtn {
  background-color: #fff;
  color: black;
  padding: 16px;
  padding-top: 0px;
  font-size: 16px;
  border: none;
  margin-bottom: 0px;
}
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fff;
}
/* Swastika css */
.web-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .web-nav {
    display: none;
  }
  .header-logo {
    width: 120px;
  }
  .mobile-menu {
    display: block;
  }
  .header {
    padding: 0rem 1rem 0rem 2rem !important;
  }
}

@media only screen and (min-width: 768px) {
  .web-nav {
    display: flex;
  }
  .mobile-menu {
    display: none;
  }
}
