.Regular-form {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  margin: 6rem 1rem;
  padding: 2.5rem;
  border-radius: 6;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .Regular-form {
    margin: 2rem 0rem;
  }
}
