.main-screen {
  height: 100vh;
  /* background-color: blue; */
}

.layout-sidebar {
  display: block;
  /* background-color: #ffffff; */
  /* height: 100vh; */
  padding: 0px !important;
}
.layout-content {
  background-color: #f9f9f9;
  height: 100vh;
  padding-top: 100px;
  /* padding: 1.5rem 3rem; */
}

@media only screen and (max-width: 768px) {
  .layout-content {
    padding: 1.5rem 1rem;
    height: 100%;
  }
  .layout-sidebar {
    display: none;
    height: 100%;
  }
  .main-screen {
    height: 100%;
    /* background-color: blue; */
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: rgb(151, 151, 151); */
  border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #b30000;
} */
