html,
body,
body > div {
  /* the react root */
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b {
  /* used for event dates/times */
  margin-right: 3px;
}

.demo-app {
  display: flex;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 500px !important;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

.fc {
  /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}
.fc-h-event .fc-event-main {
  background-image: linear-gradient(45deg, #484545, #ab282800);
  height: 100px;
}
.fc,
.fc *,
.fc *:before,
.fc *:after {
  box-sizing: border-box;
  padding: 0.2rem;
}
.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  color: black;
}
.fc .fc-daygrid-day-number {
  position: relative;
  z-index: 4;
  padding: 4px;
  color: black;
}
.fc .fc-daygrid-day-frame {
  position: relative;
  min-height: 100%;
  background-color: #fff;
}
.fc .fc-scrollgrid-section {
  height: 1px /* better than 0, for firefox */;
  background-color: #fff;
}
.fc table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.2em;
}
