.dashboard {
  position: absolute;
  width: 80%;
  right: 1%;
  background-color: transparent;
  height: 82%;
  padding: 20px;
  overflow-y: scroll;
  margin-top: 20px;
}
.mainsection {
  position: absolute;
  width: 80%;
  right: 1%;
  background-color: white;
  height: 82%;
  padding: 20px;
  overflow-y: scroll;
  margin-top: 20px;
  box-shadow: 0 0 20px #dbd9d9;
  border-radius: 10px;
}
.cardStyle {
  width: 320px;
  flex: 1;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px;
  margin: 25px;
  border-radius: 10px;
}
